body {
    background-color:black;
    font-family:arial;
    color:white;
}

h1 {
    color:grey;
    font-family:verdana;
    text-align: center;
}

.maindiv {
    background-color:white;
    color:black;
    min-width:500px;
    max-width: 500px;
    max-height: 500px;
    padding: 20px;
    border-radius: 25px;
    margin:0 auto;

}


.hl {

    background-color: yellow;

}

.form {

    margin-left: 10%;

}

label {

    display: inline-block;;
    width: 125px;
}




